<header class="bg-info">
  <h1 class="center-block">Recipes</h1>
</header>

<section class="container">
  <div class="row">
    <div *ngFor="let recipe of recipes, let i = index" class="col-sm-6 col-md-3 mb-3">
      <div class="recipe">
        <input type="checkbox" value="{{ i }}" (change)="selectRecipe($event)" />
        <p>{{recipe.name}}</p>
        <p>{{recipe.type}}</p>
        <p>{{recipe.cook_time}}</p>
        <ul>
          <li *ngFor="let ing of recipe.ingredients">
            {{ing}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section>
  <p>Selected recipes: {{ selectedRecipes }}</p>
  <div *ngIf="ingredientsToShow.length > 0">
    <p>Ingredients of selected recipes:</p>
    <ul>
      <li *ngFor="let ing of ingredientsToShow">
        {{ ing }}
      </li>
    </ul>
  </div>
</section>