.ingredients-list {
    h2 {
        background-color: $base-light-color;
        color: $base-dark-color;
        font-size: 24px;
        padding: 5px;
        margin-bottom: 15px;
    }

    ul {
        margin: 0;

        li {
            display: inline-block;
            background-color: $base-dark-color;
            color: $base-light-color;
            padding: 3px 10px;
            margin: 0 10px 10px 0;
        }
    }
}