.recipes {
    padding-top: 100px;

    .recipe {
        position: relative;
        height: 300px;
        padding: 10px;
        margin-bottom: 30px;
        background-color: $base-dark-color;
        color: $base-light-color;
        overflow: hidden;
        @include transition(all, ease-in-out, 0.2s);

        &:hover {
            overflow: auto;
            @include box-shadow(0px, 0px, 5px, 4px, $base-light-color, 1);
        }

        @media screen and (max-width: 768px) {
            overflow: auto;
        }

        &.selected {
            @include box-shadow(0px, 0px, 5px, 4px, $base-select-color, 1);
        }

        input[type=checkbox] {
            position: absolute;
            cursor: pointer;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
        }

        h2 {
            font-size: 24px;
            margin-bottom: 8px;
        }

        h3 {
            font-size: 17px;
            font-weight: 400;
            margin: 8px 0 0;
        }

        p {
            font-size: 14px;
            text-transform: lowercase;
            margin: 0;
        }

        ul {
            margin: 0;
            list-style-type: circle;
        }
    }
}